{% extends 'usernavigation.html' %}
{% block title %}
About Guriba
{% endblock %}
	{% block content %}
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="row" style="padding: 30px;">
				<div class="col-md-10">
					<font style="font-size: 30px; font-weight: 600; color: #D91848;">
						About Guriba
					</font>
				</div>
				<div class="col-md-2"></div>
			</div>
			<div class="row">
				<div class="col-md-10">
					<p class="termp" align="justify">
						&emsp;&emsp;Guriba is a website for all of story-lovers who like to read, write and share their favourite stories and share their thoughts and feelings. We are giving you a way to share your feelings which are about stories and which cannot be told to other people who are around you. You can write your feelings as a story in Guriba. At that time, the readers will repsond to you or will share their feelings as same as you. In Guriba, you can read a lot of stories which are in different kinds of genres. If you want to write the stories, Guriba offers the several different tools to help your writing.
						<br>
						&emsp;&emsp;There are so many difficulties when Guriba was being developed. As these difficulties, we wish to have many users and to be a good peace place for reading and writing the stories. So, we hope you will follow our <a href="/term&condition"><font class="termp">Terms and Conditions</font></a> and <a href="/privacy"><font class="termp">Privacy Policy.</font></a> To be a safe place, we are not allowing the young children under 18 years old. We are also not allowing to copy, change, reproduce or interrupt to our any contents. We do hope you enjoy to use Guriba. If you do, please share about Guriba to people who are around you. 
					</p>
				</div>
				<div class="col-md-2"></div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<img src="../static/images/about1.jpg" width="70%" height="70%" style="border: 1px solid #D91848; border-radius: 10px;">
				</div>
				<div class="col-md-6">
					<img src="../static/images/about2.png" width="70%" height="70%" style="border: 1px solid #D91848; border-radius: 10px;">
				</div>
			</div>
			<div class="row" style="padding-top: 30px;">
				<div class="col-md-12">
					<label style="font-size: 13px; color: #4ABA70;">Clickable Ads Section</label><br>
					<a href="https://ooredoo.com.mm/portal/en/index">
						<img src="../static/images/ads4.png" width="70%" height="70%" class="adsimg">
					</a>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}