{% extends 'adminnavigation.html' %}
{% block title %}
Managing User Data
{% endblock %}
{% block content %}
	<div class="row" style="padding-top: 30px;">
		<div class="col-md-1"></div>
		{% if userdata %}
			<div class="col-md-10">
				<table class="table">
					<tr>
						<th style="color: #D91848; font-size: 15px;"><center>User Account</center></th>
						<th style="color: #D91848; font-size: 15px;"><center>Action</center></th>
					</tr>
					{% for rows in userdata %}
					<tr>
						<td>
							<p class="termp">
								UserName: {{rows[1]}}<br>
								Date of Birth: {{rows[2]}}<br>
								Email: {{rows[4]}}<br>
							</p>
						</td>
						<td>
							<center>
								<form action="/manageuser" method="post">
									<input type="hidden" name="id" value={{rows[0]}}>
									<button class="btn adminbtn" onclick="return confirm('Do you really want to deactivate {{rows[1]}} (user account)?');">
										Deactivate
									</button>
								</form>
							</center>
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		{% endif %}
		<div class="col-md-1"></div>
	</div>
{% endblock %}