{% extends 'usernavigation.html' %}
{% block title %}
Privacy Policy
{% endblock %}
	{% block content %}
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="row" style="padding: 30px;">
					<div class="col-md-10">
						<font style="font-size: 30px; font-weight: 600; color: #D91848;">
							Privacy Policy
						</font
					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row">
					<div class="col-md-10">
						<p class="termp">
							Please notice that <a href="/term&condition"><font class="termp">Terms and Conditions</font></a> of Guriba apply to this Privacy Policy. You are allowing us to collect, use and release of your personal information which is described in this privacy policy. If you do not agree to use of your personal information as the following, you can stop to use the services of Guriba.
						</p>
						<font class="termheader">
							Personal Information
						</font>
						<p class="termp">
							This will be any information which can be used to identify you. this can be included your username, email address, age like that.
						</p>
						<font class="termheader">
							Privacy for Children
						</font>
						<p class="termp">
							Childern under 18 years old are not allowed to use Guriba. If we discover that the user under 18, we immediately reject that user's account not to use the servers of Guriba.
						</p>
						<font class="termheader">
							Feedbacks from You
						</font>
						<p class="termp">
							You can give us feedback, complaint or can ask questions about Guriba's services. You can also report something doubtful. We will do something effectively for responding to you.
						</p>
						<font class="termheader">
							Security for You
						</font>
						<p class="termp">
							We do keep your trust preciously in providing us your personal information from unauthorized access or disclosure. But don't forget that no method of transmission over Internet, or method of electronic storage is hundred percentage secure and we cannot give the guarantee about its absolute security.
						</p>
						<font class="termheader">
							Changing Your Information
						</font>
						<p class="termp">
							You can review, update or correct your personal information in your owned account by editing your profile through services of Guriba. However, you may not delete completely your personal information or your account. If you want to do, you can connect us by mailing us.
						</p>
						<font class="termheader">
							Changes of This Privacy Policy
						</font>
						<p class="termp">
							We may make some changes to this privacy policy. If we do, we will notify you to read the new privacy policy again. You should read carefully the new privacy policy. If there is something which you cannot agree, you can stop using the services of Guriba.
						</p>
					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row" style="padding-top: 30px;">
					<div class="col-md-12">
						<label style="font-size: 13px; color: #4ABA70;">Clickable Ads Section</label><br>
						<a href="https://www.telenor.com/">
							<img src="../static/images/ads2.jpg" width="70%" height="70%" class="adsimg">
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
	{% endblock %}