{% extends 'usernavigation.html' %}
{% block title %}
Term & Condition of Guriba
{% endblock %}
	{% block content %}
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="row" style="padding: 30px;">
					<div class="col-md-10">
						<font style="font-size: 30px; font-weight: 600; color: #D91848;">
							Terms and Conditions
						</font>
					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row">
					<div class="col-md-10">
						<font class="termheader">
							(1) Need to be 18 years old
						</font>
						<p class="termp">
							Guriba serves only for people who are 18 years old and above. If the users who are under 18 are using Guriba, their accounts will be terminated.
						</p>
						<font class="termheader">
							(2) Need an account
						</font>
						<p class="termp">
							To get more Guriba service, you needs an account. If you do not have your owned account, you cannot browse very much on Guriba or use services of Guriba. You will need to register, specify an account name and set a password.
							<br>
							You should set strong password and you have the responsibility for keeping the account and password. If you share your account information, that person can be able to take control of your account. So, you should be careful about it.
						</p>
						<font class="termheader">
							(3) Use of site content
						</font>
						<p class="termp">
							You should not rent, sell, distribute, modify, copy, transmit,publish, edit, adapt and create derivative works from or exploit any third party submissions or site content or other rights not owned by you, without the consent of the owners or other rights and in other way which violates any third party right.
						</p>
						<font class="termheader">
							(4) Consideration
						</font>
						<p class="termp">
							You acknowledge and agree that your access to and service usage are valuable pros that you get by agreeing to and complying with terms and conditions.
						</p>
						<font class="termheader">
							(5) Things Do and Don't
						</font>
						<p class="termp">
							There are many people who are using Guriba. We hope all of them will have responsibility and will help keep this as a nice place. Guriba is a place we treasure to have a safe, fun and caring environment for story lovers. To have a long existence, please obey the following things:
						</p>
						<font class="termheader">
							--> Don't disobey the law
						</font>
						<p class="termp">
							Don't take any action that interrupts or violates to other people's rights, breaks in the law or breaks any contract or legal duty you have toward anyone.
						</p>
						<font class="termheader">
							--> Don't abuse anyone's computers
						</font>
						<p class="termp">
							Please do not distribute software viruses or others like (code, programs)
						</p>
						<font class="termheader">
							--> Don't copy any content from Guriba
						</font>
						<p class="termp">
							Don't change, reproduce, distribute or make derivative works of any content unless you get detailed consent from owner of that content.
						</p>
						<font class="termheader">
							(6) Changes
						</font>
						<p class="termp">
							This terms and conditions may have the changes. If there is some changes, we will let you know. You should read that new terms and conditions. If you disagree with these chages, you will need to close your account and stop using services of Guriba.
						</p>
						<font class="termheader">
							(7) Control your activities
						</font>
						<p class="termp">
							Guriba has the right to transfer, assign or delegate any of its rights and obligations under these terms and condition without notice and with reports from other users.
						</p>
					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row" style="padding-top: 30px;">
					<div class="col-md-12">
						<label style="font-size: 13px; color: #4ABA70;">Clickable Ads Section</label><br>
						<a href="https://www.telenor.com/">
							<img src="../static/images/ads1.jpg" width="70%" height="70%" class="adsimg">
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
	{% endblock %}